@import url("./colors/index.css");
@import url("./themes/index.css");
@import url("./border/index.css");
@import url("./offsets/index.css");
@import url("./text/index.css");
@import url("./transitions/index.css");

/* normalize styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* base layout styles */
html,
body,
#__ha_edu {
  width: 100%;
  height: fit-content;
}
#__ha_edu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: var(--offset__0);
  padding: 0 var(--offset__0) var(--offset__0);
}
body {
  background-color: var(--theme-bg-color__0);
}
