@import url("./border/index.css");
@import url("./offsets/index.css");
@import url("./transitions/index.css");
@import url("./text/index.css");

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1280px;

  --container-*: initial;
  --shadow-*: initial;
  --inset-shadow-*: initial;
  --drop-shadow-*: initial;
  --blur-*: initial;
  --perspective-*: initial;
  --aspect-*: initial;
  --ease-*: initial;
  --animate-*: initial;
  --text-*: initial;
  --font-*: initial;
  --font-weight-*: initial;
  --leading-*: initial;
  --tracking-*: initial;
}

/* palette red */
@theme inline {
  --plt-red-border-l-default: var(--color-red-400);
  --plt-red-border-d-default: var(--color-red-600);
  --plt-red-border-l-hover: var(--color-red-500);
  --plt-red-border-d-hover: var(--color-red-700);
  --plt-red-border-l-active: var(--color-red-700);
  --plt-red-border-d-active: var(--color-red-800);
  --plt-red-border-l-focus: var(--color-red-700);
  --plt-red-border-d-focus: var(--color-red-800);

  --plt-red-bg-l-default: var(--color-red-200);
  --plt-red-bg-d-default: var(--color-red-950);
  --plt-red-bg-l-hover: var(--color-red-300);
  --plt-red-bg-d-hover: var(--color-red-900);
  --plt-red-bg-l-active: var(--color-red-400);
  --plt-red-bg-d-active: var(--color-red-800);
  --plt-red-bg-l-focus: var(--color-red-400);
  --plt-red-bg-d-focus: var(--color-red-800);

  --plt-red-text-l-default: var(--color-red-600);
  --plt-red-text-d-default: var(--color-red-400);
  --plt-red-text-l-hover: var(--color-red-700);
  --plt-red-text-d-hover: var(--color-red-300);
  --plt-red-text-l-active: var(--color-red-800);
  --plt-red-text-d-active: var(--color-red-300);
  --plt-red-text-l-focus: var(--color-red-800);
  --plt-red-text-d-focus: var(--color-red-300);
}

.text_plain {
  @apply text-neutral-800 dark:text-neutral-300;
}
.text_link {
  @apply underline hover:text-neutral-600 dark:hover:text-neutral-400;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  transition: var(--transition__0);
}

html {
  @apply h-fit w-full;
}

body {
  @apply h-fit w-full bg-neutral-200 dark:bg-neutral-950;
}

#__better {
  @apply flex h-fit w-full flex-col items-center justify-start;
}
#__better {
  gap: var(--offset__0);
  padding: 0 var(--offset__0) var(--offset__0);
}
