@import "tailwindcss";

/* red */
@theme inline {
  --plt-red-border-l-default: var(--color-red-400);
  --plt-red-border-d-default: var(--color-red-500);
  --plt-red-border-l-hover: var(--color-red-500);
  --plt-red-border-d-hover: var(--color-red-600);
  --plt-red-border-l-active: var(--color-red-700);
  --plt-red-border-d-active: var(--color-red-700);
  --plt-red-border-l-focus: var(--color-red-700);
  --plt-red-border-d-focus: var(--color-red-700);

  --plt-red-bg-l-default: var(--color-red-200);
  --plt-red-bg-d-default: var(--color-red-950);
  --plt-red-bg-l-hover: var(--color-red-300);
  --plt-red-bg-d-hover: var(--color-red-900);
  --plt-red-bg-l-active: var(--color-red-400);
  --plt-red-bg-d-active: var(--color-red-800);
  --plt-red-bg-l-focus: var(--color-red-400);
  --plt-red-bg-d-focus: var(--color-red-800);

  --plt-red-text-l-default: var(--color-red-600);
  --plt-red-text-d-default: var(--color-red-400);
  --plt-red-text-l-hover: var(--color-red-700);
  --plt-red-text-d-hover: var(--color-red-300);
  --plt-red-text-l-active: var(--color-red-800);
  --plt-red-text-d-active: var(--color-red-300);
  --plt-red-text-l-focus: var(--color-red-800);
  --plt-red-text-d-focus: var(--color-red-300);
}

/* orange */
@theme inline {
  --plt-orange-border-l-default: var(--color-orange-400);
  --plt-orange-border-d-default: var(--color-orange-500);
  --plt-orange-border-l-hover: var(--color-orange-500);
  --plt-orange-border-d-hover: var(--color-orange-600);
  --plt-orange-border-l-active: var(--color-orange-700);
  --plt-orange-border-d-active: var(--color-orange-700);
  --plt-orange-border-l-focus: var(--color-orange-700);
  --plt-orange-border-d-focus: var(--color-orange-700);

  --plt-orange-bg-l-default: var(--color-orange-200);
  --plt-orange-bg-d-default: var(--color-orange-950);
  --plt-orange-bg-l-hover: var(--color-orange-300);
  --plt-orange-bg-d-hover: var(--color-orange-900);
  --plt-orange-bg-l-active: var(--color-orange-400);
  --plt-orange-bg-d-active: var(--color-orange-800);
  --plt-orange-bg-l-focus: var(--color-orange-400);
  --plt-orange-bg-d-focus: var(--color-orange-800);

  --plt-orange-text-l-default: var(--color-orange-600);
  --plt-orange-text-d-default: var(--color-orange-400);
  --plt-orange-text-l-hover: var(--color-orange-700);
  --plt-orange-text-d-hover: var(--color-orange-300);
  --plt-orange-text-l-active: var(--color-orange-800);
  --plt-orange-text-d-active: var(--color-orange-300);
  --plt-orange-text-l-focus: var(--color-orange-800);
  --plt-orange-text-d-focus: var(--color-orange-300);
}

/* amber */
@theme inline {
  --plt-amber-border-l-default: var(--color-amber-400);
  --plt-amber-border-d-default: var(--color-amber-500);
  --plt-amber-border-l-hover: var(--color-amber-500);
  --plt-amber-border-d-hover: var(--color-amber-700);
  --plt-amber-border-l-active: var(--color-amber-600);
  --plt-amber-border-d-active: var(--color-amber-700);
  --plt-amber-border-l-focus: var(--color-amber-600);
  --plt-amber-border-d-focus: var(--color-amber-700);

  --plt-amber-bg-l-default: var(--color-amber-200);
  --plt-amber-bg-d-default: var(--color-amber-950);
  --plt-amber-bg-l-hover: var(--color-amber-300);
  --plt-amber-bg-d-hover: var(--color-amber-900);
  --plt-amber-bg-l-active: var(--color-amber-400);
  --plt-amber-bg-d-active: var(--color-amber-800);
  --plt-amber-bg-l-focus: var(--color-amber-400);
  --plt-amber-bg-d-focus: var(--color-amber-800);

  --plt-amber-text-l-default: var(--color-amber-700);
  --plt-amber-text-d-default: var(--color-amber-400);
  --plt-amber-text-l-hover: var(--color-amber-800);
  --plt-amber-text-d-hover: var(--color-amber-300);
  --plt-amber-text-l-active: var(--color-amber-900);
  --plt-amber-text-d-active: var(--color-amber-300);
  --plt-amber-text-l-focus: var(--color-amber-900);
  --plt-amber-text-d-focus: var(--color-amber-300);
}

/* yellow */
@theme inline {
  --plt-yellow-border-l-default: var(--color-yellow-400);
  --plt-yellow-border-d-default: var(--color-yellow-500);
  --plt-yellow-border-l-hover: var(--color-yellow-500);
  --plt-yellow-border-d-hover: var(--color-yellow-600);
  --plt-yellow-border-l-active: var(--color-yellow-700);
  --plt-yellow-border-d-active: var(--color-yellow-700);
  --plt-yellow-border-l-focus: var(--color-yellow-700);
  --plt-yellow-border-d-focus: var(--color-yellow-700);

  --plt-yellow-bg-l-default: var(--color-yellow-200);
  --plt-yellow-bg-d-default: var(--color-yellow-950);
  --plt-yellow-bg-l-hover: var(--color-yellow-300);
  --plt-yellow-bg-d-hover: var(--color-yellow-900);
  --plt-yellow-bg-l-active: var(--color-yellow-400);
  --plt-yellow-bg-d-active: var(--color-yellow-800);
  --plt-yellow-bg-l-focus: var(--color-yellow-400);
  --plt-yellow-bg-d-focus: var(--color-yellow-800);

  --plt-yellow-text-l-default: var(--color-yellow-700);
  --plt-yellow-text-d-default: var(--color-yellow-400);
  --plt-yellow-text-l-hover: var(--color-yellow-800);
  --plt-yellow-text-d-hover: var(--color-yellow-300);
  --plt-yellow-text-l-active: var(--color-yellow-900);
  --plt-yellow-text-d-active: var(--color-yellow-300);
  --plt-yellow-text-l-focus: var(--color-yellow-900);
  --plt-yellow-text-d-focus: var(--color-yellow-300);
}

/* lime */
@theme inline {
  --plt-lime-border-l-default: var(--color-lime-400);
  --plt-lime-border-d-default: var(--color-lime-500);
  --plt-lime-border-l-hover: var(--color-lime-500);
  --plt-lime-border-d-hover: var(--color-lime-600);
  --plt-lime-border-l-active: var(--color-lime-700);
  --plt-lime-border-d-active: var(--color-lime-700);
  --plt-lime-border-l-focus: var(--color-lime-700);
  --plt-lime-border-d-focus: var(--color-lime-700);

  --plt-lime-bg-l-default: var(--color-lime-200);
  --plt-lime-bg-d-default: var(--color-lime-950);
  --plt-lime-bg-l-hover: var(--color-lime-300);
  --plt-lime-bg-d-hover: var(--color-lime-900);
  --plt-lime-bg-l-active: var(--color-lime-400);
  --plt-lime-bg-d-active: var(--color-lime-800);
  --plt-lime-bg-l-focus: var(--color-lime-400);
  --plt-lime-bg-d-focus: var(--color-lime-800);

  --plt-lime-text-l-default: var(--color-lime-700);
  --plt-lime-text-d-default: var(--color-lime-400);
  --plt-lime-text-l-hover: var(--color-lime-800);
  --plt-lime-text-d-hover: var(--color-lime-300);
  --plt-lime-text-l-active: var(--color-lime-900);
  --plt-lime-text-d-active: var(--color-lime-300);
  --plt-lime-text-l-focus: var(--color-lime-900);
  --plt-lime-text-d-focus: var(--color-lime-300);
}

/* green */
@theme inline {
  --plt-green-border-l-default: var(--color-green-400);
  --plt-green-border-d-default: var(--color-green-500);
  --plt-green-border-l-hover: var(--color-green-500);
  --plt-green-border-d-hover: var(--color-green-600);
  --plt-green-border-l-active: var(--color-green-700);
  --plt-green-border-d-active: var(--color-green-700);
  --plt-green-border-l-focus: var(--color-green-700);
  --plt-green-border-d-focus: var(--color-green-700);

  --plt-green-bg-l-default: var(--color-green-200);
  --plt-green-bg-d-default: var(--color-green-950);
  --plt-green-bg-l-hover: var(--color-green-300);
  --plt-green-bg-d-hover: var(--color-green-900);
  --plt-green-bg-l-active: var(--color-green-400);
  --plt-green-bg-d-active: var(--color-green-800);
  --plt-green-bg-l-focus: var(--color-green-400);
  --plt-green-bg-d-focus: var(--color-green-800);

  --plt-green-text-l-default: var(--color-green-700);
  --plt-green-text-d-default: var(--color-green-400);
  --plt-green-text-l-hover: var(--color-green-800);
  --plt-green-text-d-hover: var(--color-green-300);
  --plt-green-text-l-active: var(--color-green-900);
  --plt-green-text-d-active: var(--color-green-300);
  --plt-green-text-l-focus: var(--color-green-900);
  --plt-green-text-d-focus: var(--color-green-300);
}

/* emerald */
@theme inline {
  --plt-emerald-border-l-default: var(--color-emerald-400);
  --plt-emerald-border-d-default: var(--color-emerald-500);
  --plt-emerald-border-l-hover: var(--color-emerald-500);
  --plt-emerald-border-d-hover: var(--color-emerald-600);
  --plt-emerald-border-l-active: var(--color-emerald-700);
  --plt-emerald-border-d-active: var(--color-emerald-700);
  --plt-emerald-border-l-focus: var(--color-emerald-700);
  --plt-emerald-border-d-focus: var(--color-emerald-700);

  --plt-emerald-bg-l-default: var(--color-emerald-200);
  --plt-emerald-bg-d-default: var(--color-emerald-950);
  --plt-emerald-bg-l-hover: var(--color-emerald-300);
  --plt-emerald-bg-d-hover: var(--color-emerald-900);
  --plt-emerald-bg-l-active: var(--color-emerald-400);
  --plt-emerald-bg-d-active: var(--color-emerald-800);
  --plt-emerald-bg-l-focus: var(--color-emerald-400);
  --plt-emerald-bg-d-focus: var(--color-emerald-800);

  --plt-emerald-text-l-default: var(--color-emerald-700);
  --plt-emerald-text-d-default: var(--color-emerald-400);
  --plt-emerald-text-l-hover: var(--color-emerald-800);
  --plt-emerald-text-d-hover: var(--color-emerald-300);
  --plt-emerald-text-l-active: var(--color-emerald-900);
  --plt-emerald-text-d-active: var(--color-emerald-300);
  --plt-emerald-text-l-focus: var(--color-emerald-900);
  --plt-emerald-text-d-focus: var(--color-emerald-300);
}

/* teal */
@theme inline {
  --plt-teal-border-l-default: var(--color-teal-400);
  --plt-teal-border-d-default: var(--color-teal-500);
  --plt-teal-border-l-hover: var(--color-teal-500);
  --plt-teal-border-d-hover: var(--color-teal-600);
  --plt-teal-border-l-active: var(--color-teal-700);
  --plt-teal-border-d-active: var(--color-teal-700);
  --plt-teal-border-l-focus: var(--color-teal-700);
  --plt-teal-border-d-focus: var(--color-teal-700);

  --plt-teal-bg-l-default: var(--color-teal-200);
  --plt-teal-bg-d-default: var(--color-teal-950);
  --plt-teal-bg-l-hover: var(--color-teal-300);
  --plt-teal-bg-d-hover: var(--color-teal-900);
  --plt-teal-bg-l-active: var(--color-teal-400);
  --plt-teal-bg-d-active: var(--color-teal-800);
  --plt-teal-bg-l-focus: var(--color-teal-400);
  --plt-teal-bg-d-focus: var(--color-teal-800);

  --plt-teal-text-l-default: var(--color-teal-700);
  --plt-teal-text-d-default: var(--color-teal-400);
  --plt-teal-text-l-hover: var(--color-teal-800);
  --plt-teal-text-d-hover: var(--color-teal-300);
  --plt-teal-text-l-active: var(--color-teal-900);
  --plt-teal-text-d-active: var(--color-teal-300);
  --plt-teal-text-l-focus: var(--color-teal-900);
  --plt-teal-text-d-focus: var(--color-teal-300);
}

/* cyan */
@theme inline {
  --plt-cyan-border-l-default: var(--color-cyan-400);
  --plt-cyan-border-d-default: var(--color-cyan-500);
  --plt-cyan-border-l-hover: var(--color-cyan-500);
  --plt-cyan-border-d-hover: var(--color-cyan-600);
  --plt-cyan-border-l-active: var(--color-cyan-700);
  --plt-cyan-border-d-active: var(--color-cyan-700);
  --plt-cyan-border-l-focus: var(--color-cyan-700);
  --plt-cyan-border-d-focus: var(--color-cyan-700);

  --plt-cyan-bg-l-default: var(--color-cyan-200);
  --plt-cyan-bg-d-default: var(--color-cyan-950);
  --plt-cyan-bg-l-hover: var(--color-cyan-300);
  --plt-cyan-bg-d-hover: var(--color-cyan-900);
  --plt-cyan-bg-l-active: var(--color-cyan-400);
  --plt-cyan-bg-d-active: var(--color-cyan-800);
  --plt-cyan-bg-l-focus: var(--color-cyan-400);
  --plt-cyan-bg-d-focus: var(--color-cyan-800);

  --plt-cyan-text-l-default: var(--color-cyan-700);
  --plt-cyan-text-d-default: var(--color-cyan-400);
  --plt-cyan-text-l-hover: var(--color-cyan-800);
  --plt-cyan-text-d-hover: var(--color-cyan-300);
  --plt-cyan-text-l-active: var(--color-cyan-900);
  --plt-cyan-text-d-active: var(--color-cyan-300);
  --plt-cyan-text-l-focus: var(--color-cyan-900);
  --plt-cyan-text-d-focus: var(--color-cyan-300);
}

/* sky */
@theme inline {
  --plt-sky-border-l-default: var(--color-sky-400);
  --plt-sky-border-d-default: var(--color-sky-500);
  --plt-sky-border-l-hover: var(--color-sky-500);
  --plt-sky-border-d-hover: var(--color-sky-600);
  --plt-sky-border-l-active: var(--color-sky-700);
  --plt-sky-border-d-active: var(--color-sky-700);
  --plt-sky-border-l-focus: var(--color-sky-700);
  --plt-sky-border-d-focus: var(--color-sky-700);

  --plt-sky-bg-l-default: var(--color-sky-200);
  --plt-sky-bg-d-default: var(--color-sky-950);
  --plt-sky-bg-l-hover: var(--color-sky-300);
  --plt-sky-bg-d-hover: var(--color-sky-900);
  --plt-sky-bg-l-active: var(--color-sky-400);
  --plt-sky-bg-d-active: var(--color-sky-800);
  --plt-sky-bg-l-focus: var(--color-sky-400);
  --plt-sky-bg-d-focus: var(--color-sky-800);

  --plt-sky-text-l-default: var(--color-sky-700);
  --plt-sky-text-d-default: var(--color-sky-400);
  --plt-sky-text-l-hover: var(--color-sky-800);
  --plt-sky-text-d-hover: var(--color-sky-300);
  --plt-sky-text-l-active: var(--color-sky-900);
  --plt-sky-text-d-active: var(--color-sky-300);
  --plt-sky-text-l-focus: var(--color-sky-900);
  --plt-sky-text-d-focus: var(--color-sky-300);
}

/* blue */
@theme inline {
  --plt-blue-border-l-default: var(--color-blue-400);
  --plt-blue-border-d-default: var(--color-blue-500);
  --plt-blue-border-l-hover: var(--color-blue-500);
  --plt-blue-border-d-hover: var(--color-blue-600);
  --plt-blue-border-l-active: var(--color-blue-700);
  --plt-blue-border-d-active: var(--color-blue-700);
  --plt-blue-border-l-focus: var(--color-blue-700);
  --plt-blue-border-d-focus: var(--color-blue-700);

  --plt-blue-bg-l-default: var(--color-blue-200);
  --plt-blue-bg-d-default: var(--color-blue-950);
  --plt-blue-bg-l-hover: var(--color-blue-300);
  --plt-blue-bg-d-hover: var(--color-blue-900);
  --plt-blue-bg-l-active: var(--color-blue-400);
  --plt-blue-bg-d-active: var(--color-blue-800);
  --plt-blue-bg-l-focus: var(--color-blue-400);
  --plt-blue-bg-d-focus: var(--color-blue-800);

  --plt-blue-text-l-default: var(--color-blue-700);
  --plt-blue-text-d-default: var(--color-blue-400);
  --plt-blue-text-l-hover: var(--color-blue-800);
  --plt-blue-text-d-hover: var(--color-blue-300);
  --plt-blue-text-l-active: var(--color-blue-900);
  --plt-blue-text-d-active: var(--color-blue-300);
  --plt-blue-text-l-focus: var(--color-blue-900);
  --plt-blue-text-d-focus: var(--color-blue-300);
}

/* indigo */
@theme inline {
  --plt-indigo-border-l-default: var(--color-indigo-400);
  --plt-indigo-border-d-default: var(--color-indigo-500);
  --plt-indigo-border-l-hover: var(--color-indigo-500);
  --plt-indigo-border-d-hover: var(--color-indigo-600);
  --plt-indigo-border-l-active: var(--color-indigo-700);
  --plt-indigo-border-d-active: var(--color-indigo-700);
  --plt-indigo-border-l-focus: var(--color-indigo-700);
  --plt-indigo-border-d-focus: var(--color-indigo-700);

  --plt-indigo-bg-l-default: var(--color-indigo-200);
  --plt-indigo-bg-d-default: var(--color-indigo-950);
  --plt-indigo-bg-l-hover: var(--color-indigo-300);
  --plt-indigo-bg-d-hover: var(--color-indigo-900);
  --plt-indigo-bg-l-active: var(--color-indigo-400);
  --plt-indigo-bg-d-active: var(--color-indigo-800);
  --plt-indigo-bg-l-focus: var(--color-indigo-400);
  --plt-indigo-bg-d-focus: var(--color-indigo-800);

  --plt-indigo-text-l-default: var(--color-indigo-700);
  --plt-indigo-text-d-default: var(--color-indigo-400);
  --plt-indigo-text-l-hover: var(--color-indigo-800);
  --plt-indigo-text-d-hover: var(--color-indigo-300);
  --plt-indigo-text-l-active: var(--color-indigo-900);
  --plt-indigo-text-d-active: var(--color-indigo-300);
  --plt-indigo-text-l-focus: var(--color-indigo-900);
  --plt-indigo-text-d-focus: var(--color-indigo-300);
}

/* violet */
@theme inline {
  --plt-violet-border-l-default: var(--color-violet-400);
  --plt-violet-border-d-default: var(--color-violet-500);
  --plt-violet-border-l-hover: var(--color-violet-500);
  --plt-violet-border-d-hover: var(--color-violet-600);
  --plt-violet-border-l-active: var(--color-violet-700);
  --plt-violet-border-d-active: var(--color-violet-700);
  --plt-violet-border-l-focus: var(--color-violet-700);
  --plt-violet-border-d-focus: var(--color-violet-700);

  --plt-violet-bg-l-default: var(--color-violet-200);
  --plt-violet-bg-d-default: var(--color-violet-950);
  --plt-violet-bg-l-hover: var(--color-violet-300);
  --plt-violet-bg-d-hover: var(--color-violet-900);
  --plt-violet-bg-l-active: var(--color-violet-400);
  --plt-violet-bg-d-active: var(--color-violet-800);
  --plt-violet-bg-l-focus: var(--color-violet-400);
  --plt-violet-bg-d-focus: var(--color-violet-800);

  --plt-violet-text-l-default: var(--color-violet-700);
  --plt-violet-text-d-default: var(--color-violet-400);
  --plt-violet-text-l-hover: var(--color-violet-800);
  --plt-violet-text-d-hover: var(--color-violet-300);
  --plt-violet-text-l-active: var(--color-violet-900);
  --plt-violet-text-d-active: var(--color-violet-300);
  --plt-violet-text-l-focus: var(--color-violet-900);
  --plt-violet-text-d-focus: var(--color-violet-300);
}

/* purple */
@theme inline {
  --plt-purple-border-l-default: var(--color-purple-400);
  --plt-purple-border-d-default: var(--color-purple-500);
  --plt-purple-border-l-hover: var(--color-purple-500);
  --plt-purple-border-d-hover: var(--color-purple-600);
  --plt-purple-border-l-active: var(--color-purple-700);
  --plt-purple-border-d-active: var(--color-purple-700);
  --plt-purple-border-l-focus: var(--color-purple-700);
  --plt-purple-border-d-focus: var(--color-purple-700);

  --plt-purple-bg-l-default: var(--color-purple-200);
  --plt-purple-bg-d-default: var(--color-purple-950);
  --plt-purple-bg-l-hover: var(--color-purple-300);
  --plt-purple-bg-d-hover: var(--color-purple-900);
  --plt-purple-bg-l-active: var(--color-purple-400);
  --plt-purple-bg-d-active: var(--color-purple-800);
  --plt-purple-bg-l-focus: var(--color-purple-400);
  --plt-purple-bg-d-focus: var(--color-purple-800);

  --plt-purple-text-l-default: var(--color-purple-700);
  --plt-purple-text-d-default: var(--color-purple-400);
  --plt-purple-text-l-hover: var(--color-purple-800);
  --plt-purple-text-d-hover: var(--color-purple-300);
  --plt-purple-text-l-active: var(--color-purple-900);
  --plt-purple-text-d-active: var(--color-purple-300);
  --plt-purple-text-l-focus: var(--color-purple-900);
  --plt-purple-text-d-focus: var(--color-purple-300);
}

/* fuchsia */
@theme inline {
  --plt-fuchsia-border-l-default: var(--color-fuchsia-400);
  --plt-fuchsia-border-d-default: var(--color-fuchsia-500);
  --plt-fuchsia-border-l-hover: var(--color-fuchsia-500);
  --plt-fuchsia-border-d-hover: var(--color-fuchsia-600);
  --plt-fuchsia-border-l-active: var(--color-fuchsia-700);
  --plt-fuchsia-border-d-active: var(--color-fuchsia-700);
  --plt-fuchsia-border-l-focus: var(--color-fuchsia-700);
  --plt-fuchsia-border-d-focus: var(--color-fuchsia-700);

  --plt-fuchsia-bg-l-default: var(--color-fuchsia-200);
  --plt-fuchsia-bg-d-default: var(--color-fuchsia-950);
  --plt-fuchsia-bg-l-hover: var(--color-fuchsia-300);
  --plt-fuchsia-bg-d-hover: var(--color-fuchsia-900);
  --plt-fuchsia-bg-l-active: var(--color-fuchsia-400);
  --plt-fuchsia-bg-d-active: var(--color-fuchsia-800);
  --plt-fuchsia-bg-l-focus: var(--color-fuchsia-400);
  --plt-fuchsia-bg-d-focus: var(--color-fuchsia-800);

  --plt-fuchsia-text-l-default: var(--color-fuchsia-700);
  --plt-fuchsia-text-d-default: var(--color-fuchsia-400);
  --plt-fuchsia-text-l-hover: var(--color-fuchsia-800);
  --plt-fuchsia-text-d-hover: var(--color-fuchsia-300);
  --plt-fuchsia-text-l-active: var(--color-fuchsia-900);
  --plt-fuchsia-text-d-active: var(--color-fuchsia-300);
  --plt-fuchsia-text-l-focus: var(--color-fuchsia-900);
  --plt-fuchsia-text-d-focus: var(--color-fuchsia-300);
}

/* pink */
@theme inline {
  --plt-pink-border-l-default: var(--color-pink-400);
  --plt-pink-border-d-default: var(--color-pink-500);
  --plt-pink-border-l-hover: var(--color-pink-500);
  --plt-pink-border-d-hover: var(--color-pink-600);
  --plt-pink-border-l-active: var(--color-pink-700);
  --plt-pink-border-d-active: var(--color-pink-700);
  --plt-pink-border-l-focus: var(--color-pink-700);
  --plt-pink-border-d-focus: var(--color-pink-700);

  --plt-pink-bg-l-default: var(--color-pink-200);
  --plt-pink-bg-d-default: var(--color-pink-950);
  --plt-pink-bg-l-hover: var(--color-pink-300);
  --plt-pink-bg-d-hover: var(--color-pink-900);
  --plt-pink-bg-l-active: var(--color-pink-400);
  --plt-pink-bg-d-active: var(--color-pink-800);
  --plt-pink-bg-l-focus: var(--color-pink-400);
  --plt-pink-bg-d-focus: var(--color-pink-800);

  --plt-pink-text-l-default: var(--color-pink-700);
  --plt-pink-text-d-default: var(--color-pink-400);
  --plt-pink-text-l-hover: var(--color-pink-800);
  --plt-pink-text-d-hover: var(--color-pink-300);
  --plt-pink-text-l-active: var(--color-pink-900);
  --plt-pink-text-d-active: var(--color-pink-300);
  --plt-pink-text-l-focus: var(--color-pink-900);
  --plt-pink-text-d-focus: var(--color-pink-300);
}

/* rose */
@theme inline {
  --plt-rose-border-l-default: var(--color-rose-400);
  --plt-rose-border-d-default: var(--color-rose-500);
  --plt-rose-border-l-hover: var(--color-rose-500);
  --plt-rose-border-d-hover: var(--color-rose-600);
  --plt-rose-border-l-active: var(--color-rose-700);
  --plt-rose-border-d-active: var(--color-rose-700);
  --plt-rose-border-l-focus: var(--color-rose-700);
  --plt-rose-border-d-focus: var(--color-rose-700);

  --plt-rose-bg-l-default: var(--color-rose-200);
  --plt-rose-bg-d-default: var(--color-rose-950);
  --plt-rose-bg-l-hover: var(--color-rose-300);
  --plt-rose-bg-d-hover: var(--color-rose-900);
  --plt-rose-bg-l-active: var(--color-rose-400);
  --plt-rose-bg-d-active: var(--color-rose-800);
  --plt-rose-bg-l-focus: var(--color-rose-400);
  --plt-rose-bg-d-focus: var(--color-rose-800);

  --plt-rose-text-l-default: var(--color-rose-700);
  --plt-rose-text-d-default: var(--color-rose-400);
  --plt-rose-text-l-hover: var(--color-rose-800);
  --plt-rose-text-d-hover: var(--color-rose-300);
  --plt-rose-text-l-active: var(--color-rose-900);
  --plt-rose-text-d-active: var(--color-rose-300);
  --plt-rose-text-l-focus: var(--color-rose-900);
  --plt-rose-text-d-focus: var(--color-rose-300);
}

/* slate */
@theme inline {
  --plt-slate-border-l-default: var(--color-slate-400);
  --plt-slate-border-d-default: var(--color-slate-500);
  --plt-slate-border-l-hover: var(--color-slate-500);
  --plt-slate-border-d-hover: var(--color-slate-600);
  --plt-slate-border-l-active: var(--color-slate-700);
  --plt-slate-border-d-active: var(--color-slate-700);
  --plt-slate-border-l-focus: var(--color-slate-700);
  --plt-slate-border-d-focus: var(--color-slate-700);

  --plt-slate-bg-l-default: var(--color-slate-200);
  --plt-slate-bg-d-default: var(--color-slate-950);
  --plt-slate-bg-l-hover: var(--color-slate-300);
  --plt-slate-bg-d-hover: var(--color-slate-900);
  --plt-slate-bg-l-active: var(--color-slate-400);
  --plt-slate-bg-d-active: var(--color-slate-800);
  --plt-slate-bg-l-focus: var(--color-slate-400);
  --plt-slate-bg-d-focus: var(--color-slate-800);

  --plt-slate-text-l-default: var(--color-slate-700);
  --plt-slate-text-d-default: var(--color-slate-400);
  --plt-slate-text-l-hover: var(--color-slate-800);
  --plt-slate-text-d-hover: var(--color-slate-300);
  --plt-slate-text-l-active: var(--color-slate-900);
  --plt-slate-text-d-active: var(--color-slate-300);
  --plt-slate-text-l-focus: var(--color-slate-900);
  --plt-slate-text-d-focus: var(--color-slate-300);
}

/* gray */
@theme inline {
  --plt-gray-border-l-default: var(--color-gray-400);
  --plt-gray-border-d-default: var(--color-gray-500);
  --plt-gray-border-l-hover: var(--color-gray-500);
  --plt-gray-border-d-hover: var(--color-gray-600);
  --plt-gray-border-l-active: var(--color-gray-700);
  --plt-gray-border-d-active: var(--color-gray-700);
  --plt-gray-border-l-focus: var(--color-gray-700);
  --plt-gray-border-d-focus: var(--color-gray-700);

  --plt-gray-bg-l-default: var(--color-gray-200);
  --plt-gray-bg-d-default: var(--color-gray-950);
  --plt-gray-bg-l-hover: var(--color-gray-300);
  --plt-gray-bg-d-hover: var(--color-gray-900);
  --plt-gray-bg-l-active: var(--color-gray-400);
  --plt-gray-bg-d-active: var(--color-gray-800);
  --plt-gray-bg-l-focus: var(--color-gray-400);
  --plt-gray-bg-d-focus: var(--color-gray-800);

  --plt-gray-text-l-default: var(--color-gray-700);
  --plt-gray-text-d-default: var(--color-gray-400);
  --plt-gray-text-l-hover: var(--color-gray-800);
  --plt-gray-text-d-hover: var(--color-gray-300);
  --plt-gray-text-l-active: var(--color-gray-900);
  --plt-gray-text-d-active: var(--color-gray-300);
  --plt-gray-text-l-focus: var(--color-gray-900);
  --plt-gray-text-d-focus: var(--color-gray-300);
}

/* zinc */
@theme inline {
  --plt-zinc-border-l-default: var(--color-zinc-400);
  --plt-zinc-border-d-default: var(--color-zinc-500);
  --plt-zinc-border-l-hover: var(--color-zinc-500);
  --plt-zinc-border-d-hover: var(--color-zinc-600);
  --plt-zinc-border-l-active: var(--color-zinc-700);
  --plt-zinc-border-d-active: var(--color-zinc-700);
  --plt-zinc-border-l-focus: var(--color-zinc-700);
  --plt-zinc-border-d-focus: var(--color-zinc-700);

  --plt-zinc-bg-l-default: var(--color-zinc-200);
  --plt-zinc-bg-d-default: var(--color-zinc-950);
  --plt-zinc-bg-l-hover: var(--color-zinc-300);
  --plt-zinc-bg-d-hover: var(--color-zinc-900);
  --plt-zinc-bg-l-active: var(--color-zinc-400);
  --plt-zinc-bg-d-active: var(--color-zinc-800);
  --plt-zinc-bg-l-focus: var(--color-zinc-400);
  --plt-zinc-bg-d-focus: var(--color-zinc-800);

  --plt-zinc-text-l-default: var(--color-zinc-700);
  --plt-zinc-text-d-default: var(--color-zinc-400);
  --plt-zinc-text-l-hover: var(--color-zinc-800);
  --plt-zinc-text-d-hover: var(--color-zinc-300);
  --plt-zinc-text-l-active: var(--color-zinc-900);
  --plt-zinc-text-d-active: var(--color-zinc-300);
  --plt-zinc-text-l-focus: var(--color-zinc-900);
  --plt-zinc-text-d-focus: var(--color-zinc-300);
}

/* neutral */
@theme inline {
  --plt-neutral-border-l-default: var(--color-neutral-400);
  --plt-neutral-border-d-default: var(--color-neutral-500);
  --plt-neutral-border-l-hover: var(--color-neutral-500);
  --plt-neutral-border-d-hover: var(--color-neutral-600);
  --plt-neutral-border-l-active: var(--color-neutral-700);
  --plt-neutral-border-d-active: var(--color-neutral-700);
  --plt-neutral-border-l-focus: var(--color-neutral-700);
  --plt-neutral-border-d-focus: var(--color-neutral-700);

  --plt-neutral-bg-l-default: var(--color-neutral-200);
  --plt-neutral-bg-d-default: var(--color-neutral-950);
  --plt-neutral-bg-l-hover: var(--color-neutral-300);
  --plt-neutral-bg-d-hover: var(--color-neutral-900);
  --plt-neutral-bg-l-active: var(--color-neutral-400);
  --plt-neutral-bg-d-active: var(--color-neutral-800);
  --plt-neutral-bg-l-focus: var(--color-neutral-400);
  --plt-neutral-bg-d-focus: var(--color-neutral-800);

  --plt-neutral-text-l-default: var(--color-neutral-700);
  --plt-neutral-text-d-default: var(--color-neutral-400);
  --plt-neutral-text-l-hover: var(--color-neutral-800);
  --plt-neutral-text-d-hover: var(--color-neutral-300);
  --plt-neutral-text-l-active: var(--color-neutral-900);
  --plt-neutral-text-d-active: var(--color-neutral-300);
  --plt-neutral-text-l-focus: var(--color-neutral-900);
  --plt-neutral-text-d-focus: var(--color-neutral-300);
}

/* stone */
@theme inline {
  --plt-stone-border-l-default: var(--color-stone-400);
  --plt-stone-border-d-default: var(--color-stone-500);
  --plt-stone-border-l-hover: var(--color-stone-500);
  --plt-stone-border-d-hover: var(--color-stone-600);
  --plt-stone-border-l-active: var(--color-stone-700);
  --plt-stone-border-d-active: var(--color-stone-700);
  --plt-stone-border-l-focus: var(--color-stone-700);
  --plt-stone-border-d-focus: var(--color-stone-700);

  --plt-stone-bg-l-default: var(--color-stone-200);
  --plt-stone-bg-d-default: var(--color-stone-950);
  --plt-stone-bg-l-hover: var(--color-stone-300);
  --plt-stone-bg-d-hover: var(--color-stone-900);
  --plt-stone-bg-l-active: var(--color-stone-400);
  --plt-stone-bg-d-active: var(--color-stone-800);
  --plt-stone-bg-l-focus: var(--color-stone-400);
  --plt-stone-bg-d-focus: var(--color-stone-800);

  --plt-stone-text-l-default: var(--color-stone-700);
  --plt-stone-text-d-default: var(--color-stone-400);
  --plt-stone-text-l-hover: var(--color-stone-800);
  --plt-stone-text-d-hover: var(--color-stone-300);
  --plt-stone-text-l-active: var(--color-stone-900);
  --plt-stone-text-d-active: var(--color-stone-300);
  --plt-stone-text-l-focus: var(--color-stone-900);
  --plt-stone-text-d-focus: var(--color-stone-300);
}
