:root {
  --font-weight__0: 400;
  --font-weight__1: 400;
  --font-weight__2: 400;
  --font-weight__3: 600;
  --font-weight__4: 600;
  --font-weight__5: 700;
  --font-weight__6: 800;

  --font-size__0: 12px;
  --font-size__1: 16px;
  --font-size__2: 20px;
  --font-size__3: 24px;
  --font-size__4: 32px;
  --font-size__5: 40px;
  --font-size__6: 48px;

  --line-height__0: calc(var(--font-size__0) * 1.2);
  --line-height__1: calc(var(--font-size__1) * 1.5);
  --line-height__2: calc(var(--font-size__2) * 1.4);
  --line-height__3: calc(var(--font-size__3) * 1.5);
  --line-height__4: calc(var(--font-size__4) * 1.5);
  --line-height__5: calc(var(--font-size__5) * 1.4);
  --line-height__6: calc(var(--font-size__6) * 1.5);
}

.text-xxs {
  font-size: var(--font-size__0);
  font-weight: var(--font-weight__0);
  line-height: var(--line-height__0);
}
.text-xs {
  font-size: var(--font-size__1);
  font-weight: var(--font-weight__1);
  line-height: var(--line-height__1);
}
.text-s {
  font-size: var(--font-size__2);
  font-weight: var(--font-weight__2);
  line-height: var(--line-height__2);
}
.text-m {
  font-size: var(--font-size__3);
  font-weight: var(--font-weight__3);
  line-height: var(--line-height__3);
}
.text-l {
  font-size: var(--font-size__4);
  font-weight: var(--font-weight__4);
  line-height: var(--line-height__4);
}
.text-xl {
  font-size: var(--font-size__5);
  font-weight: var(--font-weight__5);
  line-height: var(--line-height__5);
}
.text-xxl {
  font-size: var(--font-size__6);
  font-weight: var(--font-weight__6);
  line-height: var(--line-height__6);
}
